name: Build Docker-mod for xbackbone

on:
  push:
    paths:
      - "nginx/xbackbone/**"
      - ".github/workflows/nginx-xbb.yaml"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TOKEN: ${{ secrets.docker_token }}
      DOCKER_REPO: roxedus/lsio-docker-mods
      APP: nginx-xbackbone
      DIR: nginx/xbackbone

    steps:
      - uses: actions/checkout@v1
      - name: Build the Docker image
        run: |
          cd ${DIR}
          REL=$(curl -sX GET "https://api.github.com/repos/SergiX44/XBackBone/releases/latest" | awk '/tag_name/{print $4;exit}' FS='[""]')
          DATE=$(date --utc +%Y-%m-%d_%H.%M)
          docker build . --file Dockerfile.build --tag bin-stage
          docker create --name bin bin-stage
          mkdir -p root/app
          docker cp bin:/app/xbb root/app/xbb
          docker build . --file Dockerfile \
            --tag ${DOCKER_REPO}:${APP}-${REL} --tag ${DOCKER_REPO}:${APP}-${DATE} --tag ${DOCKER_REPO}:${APP}-latest \
            --tag ghcr.io/${DOCKER_REPO^}:${APP}-${REL} --tag ghcr.io/${DOCKER_REPO^}:${APP}-${DATE} --tag ghcr.io/${DOCKER_REPO^}:${APP}-latest

      - name: Login and push to registry
        run: |
          echo $TOKEN | docker login -u roxedus --password-stdin
          docker push -a ${DOCKER_REPO}

      - name: Login and push to github registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u roxedus --password-stdin
          docker push -a ghcr.io/${DOCKER_REPO^}
